{% extends 'template.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}
    <div class="site-blocks-cover overlay" style="background-image: url(images/doyoga_hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5"id="home-section">
        <div class="container">
            <div class="row align-items-center text-center justify-content-center">
                <div class="col-md-8">

                    <h1 class="font-weight-bold">A Main Studio</h1>
                    <p class="sub-text mb-4 d-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat non, rerum reprehenderit!</p>
                    <a data-fancybox data-ratio="2" href="https://vimeo.com/332538199" class="d-inline-flex align-items-center">
                        <span class="text-white">Watch the article</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h1 class="text-center">The main studio</h1>
    <a href="https://colorlib.com/wp/templates/"><img src="https://colorlib.com/wp/wp-content/uploads/sites/2/colorlib-push-logo.png" alt="Colorlib logo"></a>
<h1 style="text-align:center;">Thank you for using our template!</h1>
<p style="text-align:center;">For more awesome templates please visit <strong><a href="https://colorlib.com/wp/templates/">Colorlib</a></strong>.</p>
<br>
<p style="text-align:center; color:red;"><strong>Copyright information for the template can't be altered/removed unless you purchase a license.</strong>

<p style="text-align:center;"><strong>Removing copyright information without the license will result in suspension of your hosting and/or domain name(s).</strong>

<p style="text-align:center;"><strong>More information about the license is available <a href="https://colorlib.com/wp/licence/">here</a></strong>.</p>

<style>
img {
  margin: 0 auto;
  display: block;
  margin-top: 20%;
}
</style>
{% endblock %}



