{% extends 'template.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
   
    <section class="site-section" id="pricing-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="font-weight-bold text-black">Choose Your Plan</h2>
            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, explicabo, quasi. Magni deserunt sunt labore.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 pricing">
            <div class="border p-5 text-center rounded">
              <h3>Starter</h3>
              <div class="price mb-3"><sup class="currency">$</sup><span class="number">30</span> <span class="per">/year</span></div>
              <p class="text-muted mb-4">* Billed annualy or $10 per month</p>
              <ul class="list-unstyled ul-check text-left success mb-5">
                <li>Ashtanga Foundations</li>
                <li>Surya Vinyasa</li>
                <li class="text-muted"><del>Chandra Vinyasa</del></li>
                <li class="text-muted"><del>Yinyasa</del></li>
                <li class="text-muted"><del>Surya Vinyasa</del></li>
              </ul>
              <p><a href="#" class="btn btn-lg btn-primary rounded-0 btn-block">Buy Now</a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 pricing">
            <div class="border p-5 text-center rounded">
              <h3>Professional</h3>
              <div class="price mb-3"><sup class="currency">$</sup><span class="number">72</span> <span class="per">/year</span></div>
              <p class="text-muted mb-4">* Billed annualy or $30 per month</p>
              <ul class="list-unstyled ul-check text-left success mb-5">
                <li>Ashtanga Foundations</li>
                <li>Surya Vinyasa</li>
                <li>Chandra Vinyasa</li>
                <li class="text-muted"><del>Yinyasa</del></li>
                <li class="text-muted"><del>Surya Vinyasa</del></li>
              </ul>
              <p><a href="#" class="btn btn-lg btn-primary rounded-0 btn-block">Buy Now</a></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 pricing">
            <div class="border p-5 text-center rounded">
              <h3>Enterprise</h3>
              <div class="price mb-3"><sup class="currency">$</sup><span class="number">130</span> <span class="per">/year</span></div>
              <p class="text-muted mb-4">* Billed annualy or $10 per month</p>
              <ul class="list-unstyled ul-check text-left success mb-5">
                <li>Ashtanga Foundations</li>
                <li>Surya Vinyasa</li>
                <li>Chandra Vinyasa</li>
                <li>Yinyasa</li>
                <li>Surya Vinyasa</li>
              </ul>
              <p><a href="#" class="btn btn-lg btn-primary rounded-0 btn-block">Buy Now</a></p>
            </div>
          </div>

        </div>
      </div>
    </section>   
    
{% endblock %}
